button.MuiButton-root {
  border-radius: 100px;
  padding: 10px 24px;

  &.MuiButton-outlinedPrimary:not(.std) {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  a {
    text-decoration: none;
    color: unset;
  }
}
