.time-picker {
  .MuiTextField-root {
    margin-right: 16px;
  }

  .MuiOutlinedInput-input.MuiInputBase-input {
    max-width: 70px;
    padding: 8.5px 14px;
  }

  .MuiSelect-select {
    width: 52px;
  }
}
